<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Login</title>
</head>

<body>
<p><a href="list_groups.html">Return to group list</a></p>
<p>Group x session list:</p>
<p><a href="session.html">Session 1</a></p>
</body>
</html>