doctype html
head
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script
    include login.js
  title Login
  button#signup-button(type='button') Sign in
  p
  button#signup-button(type='button') No Account?
