<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Login</title>
</head>

<body>
<p><a href="group.html">Return to session list</a></p>
<p>Session x receipt list</p>
<p><a href="receipt.html">Receipt 1</a></p>
</body>
</html>